# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 4
b = 4
print(a == b)
print(id(a) == id(b))

True
True

Як бачимо, змінні мають однакове значення і посилаються на той самий обʼєкт в памʼяті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
type(True)

bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [5]:
a = 5
b = 3.5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)
print(b ** a)

8.5
1.5
17.5
1.4285714285714286
1.0
1.5
279.5084971874737
525.21875

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [7]:
print(int(b))
print(round(b))

t = True
print(t)
print(int(t))

3
4
True
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [9]:
s1 = "s1"
s2 = "".join(["s", "2"])
print(s1)
print(s2)

s1
s2

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [10]:
s3 = "seb's"
s4 = r"seb's"
print(s3)
print(s4)

seb's
seb's

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [12]:
surname = "Polishchuk"
s5 = f"My surname is {surname}"
s5

'My surname is Polishchuk'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [13]:
s6 = "My dog is crazy"
arr = s6.split(" ")
arr

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [14]:
l1 = [1,2,3,4,5]
l2 = list(range(1,5))

print(len(l1))
print(len(l2))

5
4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [15]:
l3 = [1,2,3,4,5]
l4 = [6,7,8,9,10]

l3.append(l4)
l3

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [17]:
l5 = [[1,2,3],[4,5,6],[7,8,9]]
print(l5[-1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [26]:
l6 = [1, 1.01, True, "string", [1], (1), {"1":2}, set([1]), b'string', None]
l7 = l6[2:-2]
l7

[True, 'string', [1], 1, {'1': 2}, {1}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
k = (1)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Відмінності:
- Список: мутабельний, повільний
- Кортеж: не мутабельний, швидкий

Схожості: iterable

Випадки використання:
- Список: динамічне зберігання різних елементів
- Кортеж: статичне зберігання елементів (зазвичай однакового типу)

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [31]:
k1 = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.10, 11.11)
k2 = k1[1::2]
k2 = k2[::-1]
k2

(10.1, 8.8, 6.6, 4.4, 2.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [34]:
s = set()
s.add(1)
s.add(2)
s.add(2)

s

{1, 2}

Так, ми можемо додавати елементи до множини

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [35]:
ls = [1, 1, 2, 67, 67, 8, 9]
s1 = set(ls)
s1

{1, 2, 8, 9, 67}

Зникли повторювані елементи, тому що множина зберігальні унікальні значення

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [36]:
s3 = {1,2,4,5}
s4 = {1,2,3,6}

print(s3.union(s4))

print(s3.difference(s4))
print(s4.difference(s3))

print(s3.intersection(s4))

print(s3.symmetric_difference(s4))

{1, 2, 3, 4, 5, 6}
{4, 5}
{3, 6}
{1, 2}
{3, 4, 5, 6}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [39]:
d = {}
d[1] = 1
d["one"] = 1
d[1.2] = "float"
d[False] = 1

d

{1: 1, 'one': 1, 1.2: 'float', False: 1}

Список не може бути ключем, бо він є unhashable type, а ключі до словника мають бути hashable

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [42]:
ddd = {
    "dd": {
        "d": {
            "noD": "left"
        }
    },
    "noD": 123,
}

ddd["dd"]["d"]

{'noD': 'left'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.